<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">about the site !!!!</h2>
                <hr class="light">
                <p class="text-faded">...the site offers examples of python and R code <br> 
                ...also provide information for Data Science software installation process in Mac Computers <br>
                 and useful links and book titles</p>
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>
