<section id="contact">
		<div class="container">
        	
        	<div class="row">
				<!--<div class="col-lg-1 col-lg-offset-2 text-center">-->
				<div class="col-lg-12 text-center">
            		<h2 class="section-heading">-- places to find me --</h2>
                	<hr class="primary">
                	<h3>see you !!!</h3>
                </div>
        	</div>
        	
        	<div class="row">
        		<div class="col-lg-3 col-sm-6 text-center">
            		<a href="https://es.linkedin.com/in/juanraggioperez">
            		<i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                	<!--<p>{{ site.linkedin_username }}</p>-->
            		</a>
        		</div>
        		<div class="col-lg-3 col-sm-6 text-center">
            		<!--<a href="mailto:{{ site.email }}">-->
            		<a href="mailto:rggiopje@gmail.com">
            		<i class="fa fa-envelope fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            		<!--<p>{{ site.email }}</p>-->
            		</a>
        		</div>
        		<div class="col-lg-3 col-sm-6 text-center">
            		<a href="https://github.com/JuanRP">
            		<!--<a href="https://github.com/{{ site.github_username }}">-->
            		<i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            		<!--<p>{{ site.github_username }}</p>-->
            		</a>
        		</div>
        		<div class="col-lg-3 col-sm-6 text-center">
            		<!--<a href="https://twitter.com/JuanRaggioPerez{{ site.twitter_username }}">-->
            		<a href="https://twitter.com/JuanRaggioPerez">
            		<i class="fa fa-twitter-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            		<!--<p>{{ site.twitter_username }}</p><!--
            		</a>
        		</div>
        		
        	</div>
        	
        	<div class="row">
				<div class="col-lg-12 text-center">
            		<hr class="primary">
                	<h2>I´m waiting !!!</h2>
            	</div>
        	</div>
        	
        </div>
</section>

