<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h2>Open Space for Data Scientist & Big Data Analyst</h2>
            <p><span class="byline" style="color:white">(created by) Juan Raggio Perez </span> <br>
			Systems Engineer / Executive MBA IE Busines Scholl<br>
			current student - Master Data Science & Big Data (Sevilla University)</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">know more</a>
        </div>
    </div>
</header>
